@import "normalize.styl"

/*Utilidades*/
.u-titulo
	color black
	font-size 2.5em
	text-align center
	padding .5em 0 .2em 0
	border-bottom 1px solid #DDDBDB
.u-mayusculas
	color #A3BD3F
	text-transform uppercase
.u-minusculas
	color #A3BD3F
	font-weight normal

/*Header*/	
.header
	text-align center	
	background-image url('../img/fondoHeader.jpg')
	background-repeat no-repeat 
	background-position center top 
	background-size cover
	position absolute
	top 0
	height 820px
.header-menu
	border 1px solid black
	height 4em
	position fixed
	left 0
	right 0
	top 0
.header-listaMenu
	margin 0
	padding 0
.header-itemMenu
	display inline-block
.header-linkMenu
	color black
	text-decoration none
	line-height 4em
	margin-right 1.5em
.header-imageContenedor
	margin-top 9em
.header-titulo
	font-size 3em
	font-weight 300	
	
/*Acerca de Mí*/
.perfil
	text-align center
	margin-top 820px
.perfil-titulo
	margin 0

.perfil-parrafo
	width 80%
	display inline-block
.perfil-imageContenedor
	margin 0
	padding 1em 0

/*Habilidades*/
.habilidades
	text-align center
	
.habilidades-contenidoDiseno
	display inline-block
	text-align left
	padding 0
	margin-right 20em	
	
.habilidades-contenidoLista
	list-style none
	padding-bottom .3em
	color #808080
	
.habilidades-subtitulo
	font-size 2em
	color #A3BD3F

.habilidades-contenidoFrontend	
	display inline-block
	text-align right
	padding 0
	margin-left 20em
  		
/*Circulos Habilidades*/

.chart {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size 4em
  vertical-align: bottom
  
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 200px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

		

	

	
	
	

